<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LetsLinkLite.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>35CD665E2DB18BC1009F0F8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35CD66702DB18BC2009F0F8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35CD667A2DB18BC2009F0F8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
